#cover{
    background: url(/img/cover.jpg);
}


.nav-link {
    color: aqua;
}

.navbar-light .navbar-nav .nav-link{
    color: cornflowerblue;
    font-weight: bold;
    text-transform: uppercase;
  
}

.navbar-light .navbar-nav .nav-link:hover{
    color: red;
    
}




