h1{
    font-family: monospace;
    background-color: red;
    display: inline-block;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid blue;
}

h1:hover{
    border-bottom: 5px solid blue;
}